$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
h1 {
  text-align: center;
}
#draw {
  text-align: center;
}
#prompt {
  font-size: 6vw;
  background-color: blue;
  color: white;
  height: 20vw;
  overflow: scroll;
  white-space: pre-line;
}

.container {
  display: none;
  background: gray;
}

.col-xs-4 {
  border: black 2vw solid;
  height: 20vw;
  text-align: center;
  font-size: 10vw;
}
.col-xs-4:hover {
  background: white;
}

#games-over-container {
  display: block;
  width: 25vw;
}

#join-game {
  display: none;
}



#create-game {
  display: none;
  width: 250px;
}

#change-pass {
  display: none;
}
#games-over {
  display: none;
}
#create-game {
  display: none;
}
#sign-out {
  display: none;
}
